h1{
    color: red;

}

.spanId{
    font-size: 18px;
    margin: 50px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rebeccapurple;
    padding: 50px;
    border: 20px;
    border-color: orangered;
    border-style: dotted;
}